<div class="register-page-wrapper public-page-wrapper">
    <!-- register area -->
    <div class="register-area">
        <div class="register-content">
            <h1 class="register-title h--epic color-text-grey text-center">You're off the blocks too early!</h1>

            <div class="register-form-area">
                <div class="form">

                    <!-- step 4 -->
                    <div class="text-center">
                        <p>
                            Your account isn't activated yet, double check that you've verified your email address, if so it please give us up to 5 working days to activate your account (but we are normally a lot quicker than that).
                        </p>
                        <p>
                            If you haven't received your verification email or we are being a little too slow please contact 
                            <a class="color-text-blue" href="mailto:marathonkids@kidsrunfree.co.uk">marathonkids@kidsrunfree.co.uk</a>
                        </p>
                    </div>
                    <!--./ step 4  -->
                </div>
            </div>
        </div>
    </div>
    <!--./ register area -->
</div>