<app-loading [condition]="loading"></app-loading>
<div class="login-page-wrapper public-page-wrapper">
    <!-- lock icon on center -->
    <div class="lock-icon-shadow"></div>
    <div class="lock-icon-wrapper">
        <div class="lock-icon-container">
            <i class="icon-locked fg-grey"></i>
        </div>
    </div>
    <!--./ lock icon on center -->

    <!-- background image -->
    <div class="login-background-wrapper">
        <div class="login-background-container">
            <div class="login-background" src="assets/images/bg1.jpg"></div>
        </div>
    </div>
    <!--./ background image -->

    <!-- login area -->
    <div class="login-area">

        <!-- form area -->
        <div class="login-form-wrapper text-center">

            <!-- form login -->
            <div class="form-login-container">
                <h1 class="login-team-title color-text-blue">Reset Password</h1>
                <p class="login-team-desc">Enter your email address and we'll send you a link to set a new password. If you do not have an email address please contact your account admin.</p>

                <app-alert></app-alert>
                
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit($event)" fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field>
                        <input formControlName="email" matInput placeholder="Email Address" autocomplete="off">
                        <label for="email" class="input_glyph-wrapper">
                            <i class="input_glyph icon-input-email"></i>
                        </label>
                        <mat-error *ngIf="isInvalid('email')">
                            <ng-container *ngIf="controls.email.errors.pattern">Only vaid email addresses are allowed</ng-container>
                            <ng-container *ngIf="controls.email.errors.required">Field is required</ng-container>
                        </mat-error>
                    </mat-form-field>

                    <div class="login-action-container">
                        <button mat-raised-button type="submit" class="btn btn--primary btn-go"
                            [disabled]="resetForm.invalid">Reset Password</button>
                    </div>
                </form>
            </div>
            <!--./ form login -->

        </div>
        <!--./ form area -->

        <!-- login area footer -->
        <div class="login-area-footer">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
                <a class="color-text-blue" routerLink="/login">Login</a>
            </div>

            <div class="login-area-footer-copyright fg-grey">
                © <a routerLink="/login" class="inline fg-grey">2020 Kids Run Free. All rights reserved</a>
            </div>
        </div>
        <!--./ login area footer -->

    </div>
    <!--./ login area -->
</div>