<div class="page-wrapper">
    <div class="formatted">
        <h1>Privacy policy SCHOOLS</h1>
        <p>Kids Run Free (“we”, “our” or “us”) are committed to protecting and respecting your privacy.</p>
        <p>Kids Run Free (company number 07465668, registered charity number 1146636) is the data controller in respect
            of the personal data provided to us or collected from your use of the Digital Tracking System located at
            https://dts.kidsrunfree.co.uk (the “DTS”). You can contact us by emailing us here: info@kidsrunfree.co.uk or
            writing to us at: Kids Run Free, 4 Euston Place, Leamington Spa, Warwickshire, CV32 4LN.</p>
        <p>This policy applies to the DTS and the services accessible through the DTS once you (The School) have created
            an account.</p>
        <p>This policy sets out the basis on, and ways in which, we process personal data we collect from you (The
            School), or that you provide to us via the DTS. Use of the DTS requires you to input personal data relating
            to children at your school participating in the Marathon Kids programme (“<strong>Participants</strong>”).
            <strong>PLEASE NOTE: Before you input personal data into the DTS relating to Participants, you confirm that
                you have provided a copy of this privacy policy to the Participants’ parents or legal guardians and, for
                each Participant, you have a record of that Participant’s parents’ or legal guardians’ consent for us to
                process the Participant’s personal data as described in this policy (“Parental Consent”) this is
                required in order to be GDPR compliant. We have the right to request a copy of the Parental Consents
                obtained by you at any time and you must provide us with a copy of them within 14 days of our
                request.</strong></p>
        <h2>INFORMATION WE COLLECT</h2>
        <p>We may collect and process the following personal data from your use of the DTS (“<strong>Data</strong>”):
        </p>
        <ul>
            <li>
                <p><strong>Information you give us: </strong>This is information you provide to us through the DTS or by
                    corresponding with us by phone, e-mail or otherwise. It includes information you provide to us when
                    you join the Marathon Kids programme and set up an account on the DTS (including details of the
                    school), information input directly into the DTS (including details relating to Participants) and
                    when you report a problem with the DTS. If you contact us, we will keep a record of that
                    correspondence. The information you (The School) give to us may include (without limitation) your
                    name, address, e-mail address, phone number, username, password and other registration information
                    and, in regard to Participants, will include the Participant’s unique pupil number, their name,
                    registration group (class), year group and gender after Parental Permission has been given.
                    (“<strong>Submitted Data</strong>”). </p>
            </li>
            <li>
                <p><strong>Information we collect about you (The School): </strong>This is information relating to your
                    visits to the DTS and the resources that you access on the DTS. Each time you visit the DTS we may
                    automatically collect the following information:</p>
                <ul>
                    <li>
                        <p>technical information, including the type of device you use, a unique device identifier (for
                            example, your device's IMEI number, IP address, the MAC address of the device's wireless
                            network interface, or the mobile phone number used by the device if you access the DTS on a
                            mobile phone), mobile network information, your operating system, the type of browser you
                            use and the time zone setting (“<strong>Device Information</strong>”);</p>
                    </li>
                    <li>
                        <p>details of your use of the DTS including, but not limited to, traffic data, weblogs and other
                            communication data (“<strong>Log Information</strong>”).</p>
                    </li>
                </ul>
            </li>
        </ul>
        <h2>HOW WE USE DATA</h2>
        <p>The legal bases applicable to our processing of the Data are follows (as relevant):</p>
        <ul>
            <li>
                <p>In respect of Participants’ personal data, you have confirmed that you have <strong>Parental
                        Consent</strong> for us to use it in order to provide the services available via the DTS. Please
                    note that Parental Consent can be withdrawn at any time by contacting us on the details provided
                    above and you must inform such parents/ legal guardians about this when obtaining their
                    consent.<strong>If Parental Consent is withdrawn at any time you must immediately stop inputting
                        that Participant’s personal data into the DTS and delete any personal data relating to that
                        Participant currently recorded on your account on the DTS.</strong></p>
            </li>
            <li>
                <p>It is necessary for the <strong>delivery of the Marathon Kids programme</strong>. This includes
                    providing you with the service offered by us in accordance with our terms and conditions (i.e.
                    managing your account, allowing you to participate in features on the DTS when you choose to do so,
                    communicating with you and providing important updates, such as communications about changes to our
                    terms and conditions and this policy) and dealing with any queries or complaints.</p>
            </li>
            <li>
                <p>It is necessary for our <strong>legitimate interests to contact the school to</strong></p>
                <ul>
                    <li>
                        <p>provide you with updates about security or technical updates to the DTS to ensure that we can
                            continue to protect the Data and keep it secure;</p>
                    </li>
                    <li>
                        <p>use the information that we collect about you to ensure that the DTS’s content is presented
                            as effectively as possible for you and for our internal purposes, such as quality control,
                            site performance, system administration and to evaluate use of the DTS so that we can
                            provide you with enhanced services;</p>
                    </li>
                    <li>
                        <p>use Device Information and Log Information to develop, operate, deliver and improve our
                            service and content, for administration and for internal operations, including
                            troubleshooting, data analysis and testing;</p>
                    </li>
                    <li>
                        <p>use Submitted Data in an anonymised format for research, statistical and survey purposes and
                            for reporting those statistics to our sponsors. We will also use this anonymised data in our
                            newsletters, social media posts and on our website; and</p>
                    </li>
                    <li>
                        <p>contact you to ask you to participate in customer satisfaction surveys and market research
                            (by email or phone) and to undertake and analyse those surveys and research.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <h2>DISCLOSURE OF YOUR INFORMATION</h2>
        <p>We may disclose the Data to the following third parties:</p>
        <ul>
            <li>
                <p>third parties acting on our behalf, such as back-up and server hosting providers, IT software and
                    maintenance providers;</p>
            </li>
            <li>
                <p>any third party who is restructuring, selling or acquiring some or all of our business or assets or
                    otherwise in the event of a merger, re-organisation or similar event; and</p>
            </li>
            <li>
                <p>if we are under a duty to disclose or share your information in order to comply with any legal or
                    regulatory obligation or request.</p>
            </li>
        </ul>
        <p>Please note that we share anonymised aggregated data with our third party sponsors, such as information on
            distances run, attendance at events and gender split.</p>
        <h2>WHERE WE STORE YOUR INFORMATION</h2>
        <p>All information you provide to us is stored on our developer’s secure servers which are located within the
            European Economic Area (EEA). The developer is legally bound by a strict Non Disclosure agreement.</p>
        <p>If at any time we transfer your Data to, or store it in, countries located outside of the EEA (for example,
            if our hosting services provider changes) we will ensure that appropriate safeguards are in place for that
            transfer and storage as required by applicable law. This is because some countries outside of the EEA do not
            have adequate data protection laws equivalent to those in the EEA. If we transfer your data to the United
            States of America, we will only send the data to companies that participate in the Privacy Shield framework
            (or such other framework that may replace it from time to time) or for which we have an alternative
            safeguard in place in accordance with applicable law.</p>
        <p><strong>No data, either participant or data collected about the school is shared for commercial use.</strong>
        </p>
        <p>All personal data is stored on our third party developer’s severs, we never use it for commercial use,
            furthermore it is our policy at Kids Run Free not to receive this data so cannot see names etc. from our
            side of the DTS. Our developers are held to non-disclosure agreement and will never use the data for
            commercial purposes.</p>
        <h2>SECURITY</h2>
        <p>Where you have chosen a password which enables you to access the DTS, you are responsible for keeping this
            password confidential. We ask you not to share a password with anyone.</p>
        <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do
            our best to protect your personal data, we cannot guarantee the security of your data transmitted to the DTS
            and any transmission is at your own risk. Once we have received any Data, we will use strict procedures and
            security features to try to prevent unauthorised access.</p>
        <p>The DTS may from time to time contain links to and from other websites. If you follow a link to any of those
            sites, please note that those sites ought to have their own privacy policies and that we do not accept any
            responsibility or liability for those sites or for their privacy policies. Please check those privacy
            policies before you submit your information to those sites.</p>
        <h2>HOW LONG WILL WE STORE INPUTTED DATA?</h2>
        <p>We store the Data until you delete your account on the DTS, at which point any personal data will be removed.
            You must immediately delete any Data relating to a Participant whose Parental Consent has been withdrawn.
        </p>
        <p>As explained under ‘How We Use Data’, we retain an anonymised version of the Submitted Data (from which you
            or any Participant cannot be identified) for statistical and analytical purposes.</p>
        <p>At the end of the year all data is anonymised on the server, therefore if your school does not upload any
            children in a new academic year, no child data will be kept.</p>
        <h2>RIGHTS</h2>
        <p>Under data protection law, you and any Participant have rights in respect of the personal data relating to
            you/ the Participant (as applicable). You/ any Participant has the right: </p>
        <ul>
            <li>
                <p>to <strong>be informed</strong> about the processing of information (this is what this statement sets
                    out to do);</p>
            </li>
            <li>
                <p>to have information <strong>corrected if it’s inaccurate</strong> and to have <strong>incomplete
                        information completed</strong>. You can access and rectify certain parts of the Data by logging
                    into your account;</p>
            </li>
            <li>
                <p>to <strong>object to processing</strong>;</p>
            </li>
            <li>
                <p>to <strong>restrict processing</strong>;</p>
            </li>
            <li>
                <p>to have your information <strong>erased</strong>;</p>
            </li>
            <li>
                <p>to <strong>request access</strong> to information about you and information about how we process it;
                </p>
            </li>
            <li>
                <p>from May 2018 only, to <strong>move, copy or transfer</strong> your information; and</p>
            </li>
            <li>
                <p>rights relating to <strong>automated decision making</strong>, including profiling.</p>
            </li>
        </ul>
        <p>The way we process the Data and the legal basis on which we rely to process that Data may affect the extent
            to which these rights apply. If you or any Participant would like to discuss or exercise any of these
            rights, please contact us using the details provided above. </p>
        <p>You have the right to lodge a complaint with the Information Commissioner’s Office where your data has or is
            being used in a way that you believe does not comply with data protection laws. We encourage you to contact
            us before making any complaint and we will seek to resolve any issues or concerns you may have. </p>
        <h2>CHANGES TO PRIVACY POLICY</h2>
        <p>Any changes we may make to our privacy policy in the future will be uploaded to this page on the DTS and,
            where appropriate, notified to you by e-mail. The new terms may be displayed on-screen and you may be
            required to read and accept them to continue your use of the DTS.</p>
    </div>

</div>