.formatted {
    display: block;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    padding: 30px 20px;
    position: relative;

    h1 {
        font-size: 3.6rem;
        font-weight: 700;
    }

    p {
        line-height: 1.6;
        color: #78828d;
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 700;
    }
}