<div class="page-wrapper">
    <div class="formatted">
        <h1>Terms and conditions for using the Kids Run Free Digital Tracking System</h1>
        <ul>
            <li>
                <p>The Digital Tracking System is for schools and home schools who have registered for and are running
                    the Marathon Kids programme</p>
            </li>
            <li>
                <p>Set up of the Digital Tracking System requires a school email address (excluding home schools)</p>
            </li>
            <li>
                <p>The Digital Tracking System should, under no circumstances, be access via a non-school computer
                    (excluding home schools) unless the school has given written or verbal confirmation</p>
            </li>
            <li>
                <p>No children should be added to the Digital Tracking System without the permission of the legal
                    Parent/Guardian of the child</p>
            </li>
            <li>
                <p>This Digital Tracking System is not to be shared or given to any third parties</p>
            </li>
            <li>
                <p>This Digital Tracking System is supplied to facilitate the delivery of the Marathon Kids programme
                </p>
            </li>
            <li>
                <p>Kids Run Free reserves the right to update the system as and when needed</p>
            </li>
            <li>
                <p>At all times you should adhere to your school’s Data Protection policy with regards to the sharing of
                    personal data</p>
            </li>
        </ul>
        <p>Kids Run Free (providers of Marathon Kids) is a registered charity 1146636</p>
        <p>For all other terms and conditions of the Digital Tracking System please refer to the main Privacy Policy in
            the Marathon Kids Support Tools.</p>
    </div>

</div>