
.icon-edit:before { content: '\e800'; } /* '' */
.icon-tick:before { content: '\e801'; } /* '' */
.icon-warn:before { content: '\e802'; } /* '' */
.icon-checked:before { content: '\e803'; } /* '' */
.icon-qr:before { content: '\e804'; } /* '' */
.icon-add:before { content: '\e805'; } /* '' */
.icon-locked:before { content: '\e806'; } /* '' */
.icon-unlocked:before { content: '\e807'; } /* '' */
.icon-cross:before { content: '\e808'; } /* '' */
.icon-input-text:before { content: '\e809'; } /* '' */
.icon-input-email:before { content: '\e80a'; } /* '' */
.icon-file-video:before { content: '\e80b'; } /* '' */
.icon-locale:before { content: '\e80c'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-resign:before { content: '\e80f'; } /* '' */
.icon-tick-plain:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-file:before { content: '\e813'; } /* '' */
.icon-camera:before { content: '\e814'; } /* '' */
.icon-plane:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-download:before { content: '\f0ed'; } /* '' */
.icon-upload:before { content: '\f0ee'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-left:before { content: '\f104'; } /* '' */
.icon-right:before { content: '\f105'; } /* '' */
.icon-up:before { content: '\f106'; } /* '' */
.icon-down:before { content: '\f107'; } /* '' */
.icon-unchecked:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-link:before { content: '\f14c'; } /* '' */
.icon-file-special:before { content: '\f15b'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-loading:before { content: '\f1ce'; } /* '' */
.icon-recipients:before { content: '\f1d9'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-signal:before { content: '\f1eb'; } /* '' */
.icon-delete:before { content: '\f1f8'; } /* '' */
.icon-icon:before { content: '\f24d'; } /* '' */