<div class="dialog-body" fxLayout="column" fxLayoutGap="20px" >
	<h2 class="text-center mt-0">Upgrade Package</h2>
	<div class="text-left">
		Upgrade to Premium today for just £1 per child and receive all the following add ons to your package
		<ul>
			<li>Access to your QR codes, for the automated scanning via the Marathon Kids UK App</li>
			<li>Our time to print out, laminate and send your QR Codes to you</li>
			<li>Any on boarding that you haven't done as yet, such as uploading your registers, adding users and inputting courses</li>
		</ul>
		Upgrade to Premium today by contacting schools@marathonkids.co.uk with the email title 'Upgrade my Marathon Kids UK Package', or call us on 01926 336628 / 07711 349592
	</div>
</div>
<div class="dialog-footer">
	<div fxLayout="row" fxLayoutGap="20px" class="h-100">
		<a href="mailto:schools@marathonkids.co.uk" target="_self" class="btn btn--primary mr-1" fxFlex="50" fxFlexFill mat-raised-button >Email</a>
		<button type="button" class="btn mr-1" fxFlexFill mat-raised-button (click)="onCancel()" fxFlex="50" >Back</button> 
	</div>
</div>