<div class="dialog-header">
    <div class="header-title">
        {{ dlgTitle }} 
    </div>
</div>
<div class="dialog-body" fxLayout="column" fxLayoutGap="20px">
    It's great to have you back for another year of running!<br /><br />
    It's great to see you're so eager! But first we need your account admin to log in and update your Runners page so we
    know who is running this year! Speak to your Marathon Champion and ask them to log in when they can. If you need any
    help, please email marathonkids@kidsrunfree.co.uk
</div>

<div class="dialog-footer">
    <div fxLayout="row" fxLayoutGap="20px" class="h-100" fxLayoutAlign="center center">
        <button type="button" mat-raised-button class="btn btn--primary" fxFlexFill (click)="onOk()">Ok</button>
    </div>
</div>