<div class="page-wrapper">
    <div class="formatted">
        <h1>APP TERMS OF USE</h1>
        <h3>WHAT IS IN THESE TERMS</h3>
		<p>These terms of use apply to your use of the Marathon Kids RUNNING APPmobile application software (together with its content, any upgrades and any other software or documentation which enables its use) (the <b>“App”</b>)and the services accessible through the App once you have downloaded a copy of the App onto your mobile telephone or handheld device (the <b>“Device”</b>), (the <b>“Services”</b>).</p>
		
		<h3>WHO WE ARE AND HOW TO CONTACT US</h3>
		<p>The App is owned and operated by Kids Run Free (company number 07465668, registered charity number 1146636) (<b>“we”, “our”</b> or<b> “us”,</b> as applicable).Marathon Kids in the UK is a programme of Kids Run Free. For further information about Kids Run Free you can contact us by e-mailing us here: info@kidsrunfree.co.uk or writing to us at: Kids Run Free, Riverside House, Milverton Hill, Leamington Spa CV32 5HZ.</p>
        
		<h3>BY USING THE APP YOU ACCEPT THESE TERMS</h3>
		<p>These terms of use (the <b>“Terms”</b>) apply to all users of the App (<b>“User”</b>). By clicking the accept button when you create an Account you agree to these Terms which will bind you each time you use the App.</p>
        <p>The ways in which you can use the App and the Services may also be controlled by the rules and policies of the consumer app store from which you downloaded the App. Such rules and policies will apply instead of these Terms where there are differences between the two.</p>
		<P>You acknowledge that your agreement with your mobile network provider (<b>“Mobile Provider”</b>) will apply to your use of the App. You acknowledge that you may be charged by the Mobile Provider for data services while using certain features of the App or any such third party charges as may arise and you accept responsibility for such charges.</P>
		
        <h3>IF SOMEONE ELSE OWNS THE PHONE OR DEVICE YOU ARE USING</h3>
		<p>If you download or stream the App onto any Device not owned by you, you must have the owner’s permission to do so. You will be responsible for complying with these Terms, whether or not you own the Device.</p>
		
		<h3>WE MAY MAKE CHANGES TO THESE TERMS</h3>
		<p>We may amend these Terms from time to time. Every time you wish to use our App, please check these Terms to ensure you understand the Terms that apply at that time. These Terms were most recently updated on 22/09/2017.</p>
        
        <h3>WE MAY SUSPEND OR WITHDRAW OUR SITE</h3>
		<p>The App is made available free of charge.</p>
		<p>We do not guarantee that the App, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of the App for business and operational reasons. </p>
		<p>From time to time we may automatically update the App to improve performance, enhance functionality, reflect changes to the operating system or address security issues. Alternatively we may ask you to update the App for these reasons. If you choose not to install such updates or if you opt out of automatic updates you may not be able to continue using the App and the Services. </p>
		
        <h3>YOUR ACCOUNT</h3>
		<p>Users are required to register and create an account with us to use the App and the Services (<b>“Account”</b>). You must keep your registration and Account details confidential. If you become aware of any misuse or unauthorised use of your registration and Account details, then you must inform us immediately by using the contact details provided above.</p>
		<p>When you create an Account you may be required to provide personal data (including information relating to your child and the other relevant information to the Services). Further information on the Terms on which we process any personal data that we collect from you, or that you provide to us on yourself or your child can be found in our Privacy Policy(https://dts.kidsrunfree.co.uk/app-privacy).</p>
		
		<h3>HOW YOU MAY USE THE APP</h3>
		<p>you You must not: </p>
	    <ul>
			<li>use the App or any Service in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms, or act fraudulently or maliciously, for example, by hacking into or inserting malicious code, such as viruses, or harmful data, into the App, any Service or any operating system;</li>
			<li>infringe our intellectual property rights or those of any third party in relation to your use of the App or any Service, including by the submission of any material (to the extent that such use is not licensed by these Terms);</li>
			<li>transmit, input or upload any material that is defamatory, offensive or otherwise objectionable in relation to your use of the App or any Service;</li>
			<li>use the App or any Service in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users; and</li>
			<li>collect or harvest any information or data from any Service or our systems or attempt to decipher any transmissions to or from the servers running any Service.</li>
		</ul>
		<p>We recommend that you back up any content and data used in connection with the App, to protect yourself in case of problems with the App or the Service.</p>
		
		<h3>INTELLECTUAL PROPERTY RIGHTS</h3>
		<p>All intellectual property rights in the App and the Services belong to us (or our licensors) and the rights in the App and the Services are licensed to you. You have no intellectual property rights in, or to, the App or the Services other than the right to use them in accordance with these Terms.</p>
		
		<h3>OUR RESPONSIBILITY FOR LOSS OR DAMAGE SUFFERED BY YOU  </h3>
		<p>We do not guarantee that the App will be secure or free from bugs or viruses.</p>
		<p>We only provide the App for domestic and private use. You agree not to use the App or Services for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
		<p>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.</p>
		<p>The App and the Services are provided for general information and entertainment purposes only. They do not offer advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of information obtained from the App or the Service.</p>
		<p>Although we make reasonable efforts to update the information provided by the App and the Service, we make no representations, warranties or guarantees, whether express or implied, that such information is accurate, complete or up to date.</p>
		
		<h3>WE MAY END YOUR RIGHTS TO USE THE APP AND THE SERVICES IF YOU BREACH THESE TERMS</h3>
		<p>We have the right to disable any Account at any time if, in our reasonable opinion, you have failed to comply with any of the provisions of these Terms.</p>
		<p>If we end your rights to use the App and Services:</p>
		<ul>
			<li>you must stop all activities authorised by these Terms, including your use of the App and any Services;</li>
			<li>you must delete or remove the App from all devices in your possession and immediately destroy all copies of the App which you have and confirm to us that you have done this; and</li>
			<li>we may cease providing you with access to the Services.</li>
		</ul>
		
		<h3>WHICH COUNTRY’S LAWS APPLY TO ANY DISPUTES?</h3>
		<p>These Terms are governed by English law. You can bring legal proceedings in respect of the products in the English courts. If you live in Scotland you can bring legal proceedings in respect of the products in either the Scottish or the English courts. If you live in Northern Ireland you can bring legal proceedings in respect of the products in either the Northern Irish or the English courts.</p>
		
    </div>
</div>
