.register-page-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background: url(/assets/images/bg1.jpg) no-repeat 50%;
    background-size: cover;

    .register-area {
        @media (max-width: 580px) {
            width: 90%;
        }

        transition: none;
        overflow: hidden;
        border-radius: 5px;
        overflow: visible;
        position: absolute;
        z-index: 6;
        top: 40px;
        left: 50%;
        width: 500px;
        min-height: 50px;
        transform: translateX(-50%);
        border-width: 1px;
        border-style: solid;
        padding: 20px 30px 30px;
        margin-bottom: 40px;

        box-shadow: 0 0 30px 0 rgba(0,0,0,.8);
        border-color: #37424c;
        background-color: #1c262f;

        &:before {
            z-index: 1;
            content: "";
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 200px;
            max-height: 200px;
            background: linear-gradient(135deg,#1e2831,#1e2831 49%,#1c262f 50%,#1c262f);
        }

        .register-content {
            position: relative;
            z-index: 6;
        }

        .login-action-container {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;

            .btn-go {
                transition: all .4s cubic-bezier(.175,.885,.32,1.275);
                border-radius: 5px;
                padding: 20px 30px;
                position: relative;
                border: 1px solid rgba(246, 252, 255, 0.4);
                cursor: pointer;
                overflow: hidden;
                font-size: 100%;

                &.btn-back {
                    width: auto;
                }
            }
        }
    }
}