<div class="register-page-wrapper public-page-wrapper">
    <app-loading [condition]="loading"></app-loading>
    <!-- register area -->
    <div class="register-area">
        <div class="register-content">
            <h1 class="register-title h--epic color-text-grey text-center">{{ contentTitle }}</h1>

            <div class="register-form-area">
                <div class="form">

                    <!-- step 4 -->
                    <div class="text-center">
                        <p>
                            {{ contentMessage }}
                        </p>
                    </div>
                    <!--./ step 4  -->
                </div>
            </div>
        </div>
    </div>
    <!--./ register area -->
</div>