<div class="account-type-page-wrapper public-page-wrapper">
    <!-- lock icon on center -->
    <div class="lock-icon-shadow"></div>
    <div class="lock-icon-wrapper">
        <div class="lock-icon-container">
            <i class="icon-locked fg-grey"></i>
        </div>
    </div>
    <!--./ lock icon on center -->

    <!-- background image -->
    <div class="account-type-background-wrapper">
        <div class="account-type-background-container">
            <div class="account-type-background" src="assets/images/bg1.jpg"></div>
        </div>
    </div>
    <!--./ background image -->

    <!-- account-type area -->
    <div class="account-type-area">
		<img src="assets/images/MK_LOGO_WHT.png" width="250px" class="welcome-logo"/>
        <!-- form area -->
        <div class="account-type-form-wrapper">
			<div class="splash-screen">
				<a class="cursor-point" (click)="showData('Schools')">
					<img src="assets/images/university-solid.svg"  class="font-image"/>
					<span class="welcome-label">SCHOOLS</span>
				</a>
				<br>
				<br>
				<a class="cursor-point" (click)="showData('Parks')" >
					<img src="assets/images/cloud-sun-solid.svg"  class="font-image"/>
					<span class="welcome-label">PARKS</span>
				</a>
			</div>
        </div>
        <!--./ form area -->

        <!-- account-type area footer -->
        <div class="account-type-area-footer">
            <div class="account-type-area-footer-copyright fg-grey">
                © <a href="#" class="inline fg-grey">2020 Kids Run Free. All rights reserved</a>
            </div>
        </div>
        <!--./ account-type area footer -->

    </div>
    <!--./ account-type area -->
</div>