.dashboard-footer{
    padding: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #37424c;
    background: #1c262f;

    .footer {
        position: relative;
        padding-bottom: 20px;

        .ul-footer {
            li {
                color: #57616c;
                margin: 0 5px;
                display: inline-block;
    
                span {
                    color:#78828d;
                }
    
                em {
                    font-weight: 400;
                    font-style: normal;
                }

                a:hover {
                    color: #fdfdfd;
                }
            }
        }
    }
    
}
