<div class="login-page-wrapper public-page-wrapper">
    <!-- lock icon on center -->
    <div class="lock-icon-shadow"></div>
    <div class="lock-icon-wrapper">
        <div class="lock-icon-container">
            <i class="icon-locked fg-grey"></i>
        </div>
    </div>
    <!--./ lock icon on center -->

    <!-- background image -->
    <div class="login-background-wrapper">
        <div class="login-background-container">
            <div class="login-background" src="assets/images/bg1.jpg"></div>
        </div>
    </div>
    <!--./ background image -->

    <!-- login area -->
    <div class="login-area">

        <!-- form area -->
        <div class="login-form-wrapper">
            <h1 class="text-center">SECURITY AND MAINTENANCE PERIOD</h1>
            <h3 class="text-center">( 02 FEB - 14 FEB 21 )</h3>
            <br />
            <h3>Dear user,</h3>
            <h3>Our Digital Tracking System is currently under maintenance. We are enhancing our heavily protected security system, which will enable new and exciting developments in the future. We apologise for any inconvenience this may cause. You can continue to total up your kilometres by keeping a written kilometre log and enter this data when our system is up and running again. We will notify you when the maintenance has been completed.</h3>
            <h3>Trying to register as a new school? Please contact our head of programming at <a href="mailto:christopher@marathonkids.co.uk" style="text-decoration: underline; color: yellow">christopher@marathonkids.co.uk</a>. We look forward to welcoming you to the Marathon Kids family and activating your pupils and teachers.</h3>
        </div>
        <!--./ form area -->

        <!-- login area footer -->
        <div class="login-area-footer">
            <p>Thank you for your co-operation and support</p>
            <div class="login-area-footer-copyright fg-grey">
                © <a href="#" class="inline fg-grey">2020 Kids Run Free. All rights reserved</a>
            </div>
        </div>
        <!--./ login area footer -->

    </div>
    <!--./ login area -->
</div>