.email-active.icon-unchecked {
    cursor: pointer;
}

.mat-column-name {
    width: 20%;
}

.mat-column-town {
    width: 15%;
}

.mat-column-number_of_runners {
    width: 5%;
}

.mat-column-last_login {
    width: 10%;
}

.mat-column-last_session_run {
    width: 10%;
}

.mat-column-valid_for_date {
    width: 15%;
}

.mat-column-email_confirmed {
    width: 5%;
}

.mat-column-active {
    width: 5%;
}

.mat-column-action {
    width: 15%;
}

h1 span {
    font-size: 1.6rem;
    color: #78828d;
}

.scanner-active{
	cursor : pointer;
}