.bg-dark {
    background-color: #1c262f;
}

.bg-dark-light {
    background-color: #252f3a;
}

.bg-grey {
    background-color: #78828d;
}

.fg-grey {
    color: #78828d;
}

.color-text-blue {
    color: #4286FF !important;
}

.color-text-grey {
    color: #dddddd !important;
}