.card-loaded {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.3);
}

.card-loaded, .card-loading {
    border-color: #37424c;
}

.card:before {
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;

    background: linear-gradient(135deg,#1e2831,#1e2831 49%,#1c262f 50%,#1c262f);
}