* {
    font-family: Titillium Web,sans-serif;
    outline: none;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #f6fcff;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.15;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #1c262f;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
// input
.mat-input-element {
    caret-color: #dddddd;
    padding-right: 25px !important;
}

// mat input error
.mat-error {
    color: #ff5722;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: #78828d;
}

.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    caret-color: #dddddd;
}

// select
.mat-select-panel {
    background-color: #1c262f;
}

// button
.btn, .btn--circle, .btn--circle-large, .btn--danger, .btn--primary, .btn--warning {
    text-shadow: -1px -1px 0 rgba(0,0,0,.8);
}

.btn--primary:not(:disabled) {
    background-color: #69b871;
}

.btn[disabled], .mat-raised-button[disabled][disabled] {
    cursor: not-allowed !important;
    background-color: #57616c;
    color: rgba(246,252,255,.5);

    * {
        color: rgba(246,252,255,.5);
    }
}

.btn, .btn--circle, .btn--circle-large, .btn--danger, .btn--primary {
    background-color: #57616c;
}

.btn-warning {
    background-color: #d65256;
}

.btn-action {
    cursor: pointer;
}

ul.ul-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mat-snack-bar-container {
    background: #1c262f;
}

.style-snack-success {
    border: 1px solid #69b871;
}

.style-snack-error {
    border: 1px solid #cc3300;
}


// scrollbar hack
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c262f; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.d-none {
    display: none;
}